<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO</h1>
    <div>
   <h1>le serveur a bien demaré...</h1>
   <h1>
    <%= blog.nom %>
   </h1>
   <h1>
    <%= blog.age %>
   </h1>
   <h1>
    <%= blog.favoritefoods %>
   </h1>
    </div>
</body>
</html>